body {
    background-color: #f3f7f7;
}
html {
    scroll-behavior: smooth;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image {
    width: 200px;
    margin-top: 20px;

}
@media (max-width : 770px)
{
    .container {
        margin: 0 10%;
    }
    .image {
        width :100%
    }
}